* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: url(./assets/assets/Inazuma\ genshin\ wallpaper.jpg);
  --stroke-color: rgba(5, 0, 8, 0.5);
  --surface-color: rgba(119,3,100,0.281);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color:rgba(107, 3, 128, 0.24);
  --switch-bg-color: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-color: url(./assets/assets/inazumalight.jpeg);
  --stroke-color: rgba(5, 0, 8, 0.5);
  --surface-color: rgba(58, 2, 49, 0.281);
  --surface-color-hover: rgba(78, 5, 107, 0.596);
  --highlight-color: rgba(78, 5, 107, 0.596);
  --switch-bg-color: url(./assets/assets/sun.svg)
}

body {
  background: var(--bg-color) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "inter" sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}


#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-color) no-repeat center;
  border: 0;
  border-radius: 50%;

  position:absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform:translateY(-50%);

  animation: deslize-volta 0.2s;
}

.light #switch button{
  animation: deslize 0.2s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color)
}
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* link - listas*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid white;
}

#raiden-socials {
  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0;

  font-size: 24px;
}

#raiden-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#raiden-socials a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  text-decoration: none;
}

/* media queries */
@media (min-width: 700px){
  :root{
    --bg-color: url(./assets/assets/inazuma-desktop.jpg);
  }
  .light{
    --bg-color: url(./assets/assets/inazuma-day-desktop.jpg);
  }
}

/* animação */
@keyframes deslize {
  from {
    left: 0;
  }
  to{
    left: 50%;
  }
}
@keyframes deslize-volta{
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
}